<center>
<h1>Editando mascota</h1>

<%= render 'form', companero: @companero %>

<%= link_to '<button type="button" class="button primary small">Mostrar</button>'.html_safe, @companero %> |
<%= link_to '<button type="button" class="button secondary basic">Regresar</button>'.html_safe, companeros_path %>

</center>